<div class="catList" autoresize='none' hd-autoresize-func="updateSubCategoriesView()">
	<!-- <waiter hd-show="subCategoriesLoading"></waiter> -->
	<ul>
		<li id="categorie{{cat.id}}"class="hd-general-categorie-item hd-dont-animate" ng-class="{selected: selectedCategorie === cat}" ng-repeat="cat in generalCategories.data">
			<div class="hd-wrap">
				<div class="hd-toggle-categorie" ng-click="toggleCategorie(cat)">
					<div class="hd-arrow">
						<i class="fa" ng-class="{'fa-chevron-circle-up': selectedCategorie === cat, 'fa-chevron-circle-down': selectedCategorie !== cat}"></i>
					</div>

					<div class="hd-picture">
						<i class="fa" ng-class="cat.icon"></i>
					</div>

					<div class="hd-content" ng-bind-template="{{cat | multilangTitle}} ({{cat.video_count}})"></div>	
				</div>
				<div class="hd-enter-categorie" hd-ui-sref="category" hd-ui-params="{id: cat.id}">
					<i class="fa fa fa-hand-o-right"></i>
				</div>
			</div>
			<subcategories ng-show="selectedCategorie === cat"></subcategories>
		</li>
	</ul>
</div>