<div class="hd-favorites">
	<!-- TODO: вынести текст в ресурсы, хотя бы будет лежать в одном месте, а не абы где -->
	<!-- <div ng-show="emptyFavorites">Пока избранный список пуст</div> -->
	<div class="hd-favorites-empty" ng-if="emptyFavorites">
		<hd-glitch-text text="&#61552;"></hd-glitch-text>
		<div class="hd-message">Список избранного пуст. Для добавления видео в избранное нажмите <i class="fa fa-star-o"></i></div>
	</div>
	<div class="hd-dont-animate" ng-repeat="video in videos">
		<video-grid-item video="video"></video-grid-item>
	</div>
	<div style="clear:both"></div>
</div>