<div>
	<div ng-show="notFoundMsg">{{notFoundMsg}}</div>
	<div class="hd-dont-animate" ng-repeat="video in videos">
		<video-grid-item video="video"></video-grid-item>
	</div>
	<div style="clear:both"></div>
</div>