<div class="hd-filter">
	<!-- <div class="hd-imdb-slider"></div> -->

	<div class="hd-filter__genre">Жанр:
		<select ng-model="filterOpt.genre" ng-options="genre.id as genre.title_ru for genre in filterData.genres">
			<option value="">-Не важно-</option>
		</select>
	</div>

	<div class="hd-filter__end-year">Не позже:
		<select ng-model="filterOpt.year_to" ng-options="year as year for year in filterData.years">
			<option value="">-Не важно-</option>
		</select>
	</div>

	<div class="hd-filter__start-year">Не раньше:
		<select ng-model="filterOpt.year_from" ng-options="year as year for year in filterData.years">
			<option value="">-Не важно-</option>
		</select>
	</div>

	<div class="hd-filter__country">Страна:
		<select ng-model="filterOpt.country" ng-options="country.id as country.title_ru for country in filterData.countries">
			<option value="">-Не важно-</option>
		</select>
	</div>
	<button ng-click="filter()">Найти</button>
</div>