<div class="html5-player" ng-class="{'html5-player--extended': videoStatus.extended}">
	<div class="html5-player__video-container" >
		<video ng-src="{{src | trusted}}" autoplay="true">
	</div>
	</video>
	<div class="html5-player__controls">
		<div class="html5-player__play fa" ng-click="togglePlay()" ng-class=
		"{
			'fa-play-circle': !videoStatus.isPlayed, 
			'fa-pause': videoStatus.isPlayed
		}">
		</div>
		<div class="html5-player__extend fa" ng-click="toggleExtend()" ng-class=
		"{
			'fa-arrows-alt': !videoStatus.extended, 
			'fa-compress': videoStatus.extended
		}">
		</div>
	</div>
</div>