<div class="hd-last-viewed" ng-click="playVideoFile(lastViewedFile.fileId)" ng-show="isShowed">
	<span class="fa fa-play play-btn"></span>
	<span ng-bind-template="Последнее просмотренное: {{lastViewedFile.title}} {{lastViewedFile.percent}}%"></span>
</div>