<div class="hd-navigator" ng-class="{'menu-showed': !!selectedItem}"> 
	<nav>
		<ul>
			<li class="hd-nav-item hd-dont-animate" ng-repeat="item in items" id="{{item.id}}" ng-switch on="item.type">
				<!-- блок для элемента, меняющего адрес -->
				<div class="hd-nav-item-link" ng-switch-when="Link" hd-ui-sref="{{item.sref}}"> 
					<div class="hd-nav-picture" ng-if="item.picture">
						<i class="{{item.picture}}"></i>
					</div>
					<span class="hd-nav-text" ng-bind-template="{{item.name}}"></span>	
				</div>

				<!-- блок для элемента с подменю -->
				<div class="hd-nav-item-menu" ng-switch-when="Menu" ng-click="toggleMenuItem(item)" ng-class="{selected: selectedItem === item}">

					<div class="hd-nav-item-content">
						<div class="hd-nav-picture" ng-if="item.picture">
							<i class="{{item.picture}}"></i>
						</div>
						<span class="hd-nav-text" ng-bind-template="{{item.name}}"></span>	
					</div>
					<div class="hd-nav-item-arrow">
						<i class="fa" ng-class="{'fa-chevron-left': item.selected, 'fa-chevron-right': !item.selected}"></i>
					</div>
					<div style="clear:both"></div>
				</div>
			</li>
		</ul>
	</nav>
	<div class="hd-nav-menu"  ng-class="{showed: !!selectedItem}" ng-transclude autoresize="height" ng-switch on="selectedMenuItemId" hd-animate-mark-selector="#hd-sidebar"></div>
</div>