<div class="hd-news">
	<!-- <div ng-show="notFoundMsg">{{notFoundMsg}}</div> -->
	<div class="hd-dont-animate" ng-repeat="video in videos">
		<hd-news-grid-item video="video"></hd-news-grid-item>
	</div>
	<div style="clear:both"></div>
</div>