<div ng-click="showDetails(video.video_id)" class="hd-news-grid-item">
	<div class="hd-video-img-ct">
		<img class="hd-video-poster" ng-src="{{video.video_image_file}}"/>
		<img class="hd-video-bg" src="img/bg_100_140.png"/>
	</div>
	<div class="hd-news-descr">
		<div class="hd-title" ng-bind-template="{{video | multilangTitle}}"></div>
		<span class="hd-news-info" ng-bind-template="{{video.date}}: {{video.title}}"></span>
	</div>
</div>