<div class="hd-search-box">
	<input ng-model='searchString' ng-enter="search()" ng-minlength="3" placeholder="Поиск по названию"></input>
	<div class="hd-search-btn" ng-click="search()" ng-disabled="!searchString">
		<i class="fa fa-search"></i>
	</div>
</div>