<div class="hd-sort-box">
	<div class="hd-sort-box__title">Сортировать по </div>
	<select class="hd-sort-box__combobox" ng-model="sortField" ng-change="updateSortField()">
			<option value="title_ru">названию</option>
			<option value="year">году выпуска</option>
			<option value="created">дате добавления</option>
			<option value="imdb_rating">рейтингу IMDB </option>
			<option value="kp_rating">рейтингу kinopoisk.ru</option>
			<option value="hd_rating">рейтингу hdserials</option>
	</select>
	<div class="hd-sort-box__direction hd-dont-animate" ng-click="toggleSortDirection()">
		<i class="fa hd-sort-box__direction__picture" ng-class="{'fa-sort-desc': sortDirection === 'desc', 'fa-sort-asc': sortDirection === 'asc'}"></i>
		<div class="hd-sort-box__direction__text" ng-class="{'hd-sort-box__direction__text--desc': sortDirection === 'desc', 'hd-sort-box__direction__text--asc': sortDirection === 'asc'}"></div>
	</div>
</div>