<div class="hd-sub-categorie"> 
	<ul>
		<!-- <li ng-repeat="cat in subCategories.data" class="hd-sub-categorie-item">   -->
		<li class="hd-sub-categorie-item hd-dont-animate" ng-repeat="cat in subCategories.data" ng-click="onSubCategorieClick(cat)"> 
			<a ui-sref="category({id: cat.id})">
				<div class="hd-content" ng-bind-template="{{cat | multilangTitle}} ({{cat.video_count}})">
				</div>
			</a>
		</li> 
	</ul> 
</div>