<div class="hd-video-player-ct">
	<div class="mask" ng-click="closePlayer()"></div>

	<div class="window">
		<div class="title" ng-bind="file.title"></div>
		<div class="content" ng-switch="file.playMode">
			<html5-player ng-switch-when="html5" ng-cloak hd-src="file.src"></html5-player>

			<flash-player ng-switch-when="flash" ng-cloak hd-src="file.src" class="flash-player" id="player"></flash-player>

			<iframe ng-switch-when="iframe" ng-cloak ng-src="{{file.src | trusted}}" class="iframe"></iframe>
		</div>

		<div class="fa fa-times close-btn" ng-click="closePlayer()"></div>
	</div>
</div>