<div ng-click="showDetails(video.id)" class="hd-video-grid-item">
	<hd-rating-bar rating="{{rating}}" ng-show="isRatingShow"></hd-rating-bar>
	<div class="video-img-ct">
		<favorite-box video="video"></favorite-box>
		<img class="hd-video-poster" ng-src="{{video.image_file}}"/>
		<img class="hd-video-bg" src="img/bg_100_140.png"/>
	</div>

	<div class="video-descr" ng-bind-template="{{video.title_ru}}"></div>
</div>