﻿<div class="hd-clear-fix" infinite-scroll='getNextPartVideos()' infinite-scroll-end='allVideosLoaded' infinite-scroll-disabled='partVideosLoading' infinite-scroll-distance='0.5' infinite-scroll-node-selector="#hd-content">
	<video-grid-item video="video" class="hd-dont-animate" ng-repeat="video in videos"></video-grid-item>
</div>