
<div ng-hide="!video" id="hd-video-details">
	<div class="title">{{video.info | multilangTitle}} 	<favorite-box video="video.info"></favorite-box></div>

	<div class="poster">
		<img ng-src="{{video.info.image_file}} {{lastPlayedFileInfo.percent}}%" />
	</div>

	<div class="details">
		<div>{{video.yearAndCountry}}</div>
		<div ng-show="video.info.hd_rating > 0"><b>HDSerials: </b>{{video.info.hd_rating}} ({{video.info.hd_votes}})</div>
		<div ng-show="video.info.kp_rating > 0"><b>Kinopoisk: </b>{{video.info.kp_rating}} ({{video.info.kp_votes}})</div>
		<div ng-show="video.info.imdb_rating > 0"><b>IMDB: </b>{{video.info.imdb_rating}} ({{video.info.imdb_votes}})</div>
		<div><b>Размещено в: </b><a href="#">{{video.info.category_title_ru}}</a></div>
		<div ng-show="video.info.translation != ''"><b>Перевод: </b>{{video.info.translation}}</div>
		<div ng-show="video.info.duration != ''"><b>Продолжительность: </b>{{video.info.duration}}</div>
		<div ng-show="video.genres.length > 0">
			<b>Жанр(ы): </b>
			<span ng-repeat="genre in video.genres">{{genre.title_ru}}<span ng-if="!$last">, </span></span>
		</div>
		<div ng-show="video.directors.length > 0">
			<b>Режисёр(ы): </b>
			<span ng-repeat="director in video.directors">{{director.title_ru}}<span ng-if="!$last">, </span></span>
		</div>
		<div ng-show="video.actors.length > 0">
			<b>В ролях: </b>
			<span ng-repeat="actor in video.actors">{{actor.title_ru}}<span ng-if="!$last">, </span></span>
		</div>
		<div ng-show="video.tags.length > 0">
			<b>Тег(и): </b>
			<span ng-repeat="tag in video.tags">{{tag.title_ru}}<span ng-if="!$last">, </span></span>
		</div>
	</div>

	<div class="description">{{video.info.description}}</div>

	<hd-last-viewed></hd-last-viewed>

	<div class="files-ct">
		<div class="season-ct hd-dont-animate" ng-class="{ serial: video.hasSeasons, collapsed: season.collapsed }" ng-repeat="(key, season) in video.seasons" >
			<div class="title" ng-if="video.hasSeasons" hd-collapse-toggler=".episodes-ct" hd-collapse-group="seasons" hd-collapse-root=".files-ct">{{season.title}}</div>
			<div class="episodes-ct hd-collapsible" hd-collapsible-enabled="{{video.hasSeasons}}"> 
				<div class="episode-ct" ng-repeat="episode in season.episodes" ng-click="playVideoFile(episode.id)">
					<div class="fa fa-eye view-btn" ng-class="{ viewed: episode.viewed }" ng-click="toggleViewedState($event, episode)"></div>
					<div class="fa fa-play play-btn"></div>
					<div class="title">{{episode.title}}</div>
				</div>
			</div>
		</div>
	</div>

	<div ui-view hd-move-to-body></div>
</div>