<!DOCTYPE html>
<html lang="en" ng-app="hdserials" ng-controller="PageController">
<head>
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="format-detection" content="telephone=no" />
	<meta name="format-detection" content="address=no"/>
	<meta name="description" content="HDSerials Web App">
	<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=no, maximum-scale=1.0, minimal-ui"/>
	<meta name="HandheldFriendly" content="True"/>

	<title ng-bind-template="HDSerials Webapp &rarr; {{pageInfo.title}} ({build-date})"></title>

	<link rel="stylesheet" type="text/css" href="lib/fontawesome/font-awesome.css" />
	<link rel="stylesheet" type="text/css" href="css/style.css?_={build}" />
<!--	<link rel="stylesheet" type="text/css" href="css/bootstrap.css" />--> 
</head>
<body>
	<!--[if lt IE 7]>
	  <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->
 	<hd-waiter></hd-waiter>
	<div id="hd-header" autoresize="width">
		<div id="hd-logo">Serials</div>
		<hd-visible-if-state state="category">
			<hd-sort-box></hd-sort-box>
		</hd-visible-if-state>
		<div id="hd-title" ng-bind-template="{{pageInfo.title}}"></div>
		<search-box></search-box>
	</div>

	<div id="hd-content-wrap" autoresize="full">
		<navigator id="hd-sidebar" autoresize="height"
			ng-init="items=[
				{ type: 'Link', name: 'Новинки', picture: 'fa fa-cutlery', id: 'hd-nav-news', sref: 'news' },
				{ type: 'Menu', name: 'Категории', picture: 'fa fa-film', id: 'hd-nav-categories', subMenuId: 'hd-categories' },
				{ type: 'Menu', name: 'Фильтр', picture: 'fa fa-eye', id: 'hd-nav-filter', subMenuId: 'hd-filter' },
				{ type: 'Link', name: 'Избранное', picture: 'fa fa-star', id: 'hd-nav-news', sref: 'favorites' }
			]">
			<categories id="hd-categories" ng-switch-when="hd-categories" hd-icons="
				['fa-bomb', 'fa-users', 'fa-reddit-square', 'fa-futbol-o', 'fa-joomla', 'fa-coffee']">
			</categories>
			<hd-filter id="hd-filter" ng-switch-when="hd-filter"></hd-filter>
		</navigator>

		<div id="hd-content" hd-content>
			<div class="hd-view" ui-view></div>
		</div>
	</div>

	<script src="lib/jquery-1.11.1.js"></script>
	<script src="lib/angular/angular.js"></script>
	<script src="lib/angular/angular-ui-router.js"></script>
	<script src="lib/angular/ui-bootstrap.js"></script>
	<script src="lib/angular/ng-infinite-scroll.js"></script>
	<script src="lib/angular/angular-animate.js"></script>

	<script src="js/production.js?_={build}"></script>
</body>
</html>