@navBgColor: #2A2A2A;
@stepColor: 2%;
@navMenuBgColor: darken(@navBgColor, @stepColor);
@navHoverItemBgColor: darken(@navBgColor, 40%);
//@contetBgColor: #CCD3DB;
//@contetBgColor: #2A2A2A;
@contetBgColor: lighten(@navBgColor, 5%);
@navPictureColor: #D98218;
@navTextColor: #F1F1F1;
@navFont: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
@headerHeight: 40px;
@navMenuWidth: 300px;
@navWidth: 120px;
@navItemHeight: 100px;
@navItemPictureWidth: 20px;
@navItemContentWidth: @navWidth - @navItemPictureWidth * 2;
@navItemPaddingTop: 23px;

/* favorite */

@favoriteBgColor: white;
@favoriteBlockSize: 20px;

/* END favorute */

/* mixins */
.makeRandom1(@min: 0, @max: @min+1, @int: 0) { 
  .checkInt() {
    @getNum: `Math.random() * (@{max} - @{min} + @{int})`;
    @base: unit(`@{int} == 1 ? Math.floor(@{getNum}) : @{getNum}`);
  }
  .checkInt();
  @randNum1: @base + @min;
}

.makeRandom2(@min: 0, @max: @min+1, @int: 0) { 
  .checkInt() {
    @getNum: `Math.random() * (@{max} - @{min} + @{int})`;
    @base: unit(`@{int} == 1 ? Math.floor(@{getNum}) : @{getNum}`);
  }
  .checkInt();
  @randNum2: @base + @min;
}

.transformTransition(@startTime, @func)
{
	transition: transform @startTime @func;
}

.transformShift(@left, @top)
{
	transform: translate(@left, @top);
}

.leftShift(@left)
{
	.transformShift(@left, 0);
}

.nonSelectable()
{
	user-select: none;
}

.clearFix()
{
	&:after
	{
		content: "."; /* добавить содержимое: "." */
		display: block;  /* сделать блоком, т.к. inline не может иметь clear */
		clear: both;  /* с обеих сторон clear */
		visibility: hidden; /* сделать невидимым, зачем нам точка внизу? */
		height: 0;  /* сделать высоту 0, чтобы не занимал место */
	}
}

.clear-fix 
{
	.clearFix();
}

.placeHolder(@fontColor: #BBB) 
{
	&::-webkit-input-placeholder {
	   color: @fontColor;
	}

	&:-moz-placeholder { /* Firefox 18- */
	   color: @fontColor;  
	}

	&::-moz-placeholder {  /* Firefox 19+ */
	   color: @fontColor;  
	}

	&:-ms-input-placeholder {  
	   color: @fontColor;  
	}
}

.inertialScrolling(@overflowX: auto, @overflowY: auto) {
	overflow-x: @overflowX;
	overflow-y: @overflowY;
	-webkit-overflow-scrolling: touch;
}

/* END mixins */