@import "../lib/lib.less";

@transitionBgNavGeneral: background-color 0.5s;
@transitionBgNavSlaves: background-color 0.3s;


/*#region "navigator" directive*/
.hd-nav-item
{
	transition: @transitionBgNavGeneral;
}

.hd-general-categorie-item > .hd-wrap *,
.hd-sub-categorie-item
{
	transition: @transitionBgNavSlaves;
}

.hd-nav-item-menu.selected
{
	transition: all 0.5s;
}

.hd-sub-categorie .hd-sub-categorie-item a:hover
{
	transition: all 0.2s ease-out 0s;
}

.hd-sub-categorie-item a,
.hd-sub-categorie-item a:visited,
.hd-sub-categorie-item a:focus
{
	transition: all 0.4s ease-out 0s;
}

#hd-content,
.hd-nav-menu
{
	.transformTransition(0.3s, ease-out)
}

.hd-nav-menu.showed .ng-enter,
.hd-nav-menu.showed .ng-leave
{
	transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all ;
}

.hd-nav-menu.showed *.ng-leave.ng-leave-active
{
	left: -100%;
}
.hd-nav-menu.showed *.ng-enter
{
	left: 100%;
}

.hd-nav-menu.showed *.ng-leave,
.hd-nav-menu.showed *.ng-enter.ng-enter-active {
	left: 0;
}
/*#endregion "navigator" directive*/

#hd-header
{
	.search-box *
	{
		transition: all 100ms ease-in-out 0s;
	}
	.hd-sort-box *
	{
		transition: box-shadow 100ms ease-in-out 0s;
	}
}

/*#region "subcategories" directive*/
// .hd-sub-categorie.ng-hide-add,
// .hd-sub-categorie.ng-hide-remove
// .hd-sub-categorie.ng-hide-remove
// {
// 	max-height: 0;
// }

// .hd-sub-categorie
// {
// 	transition: all 400ms ease-in-out 0s;
// }

/*#endregion "subcategories" directive*/

/*#region "video-grid-item" directive*/
.hd-video-grid-item
{
	.hd-video-bg
	{
		transition: opacity 400ms ease-in-out;
	}
}
/*#endregion "video-grid-item" directive*/

/*#region "hd-news-grid-item" directive*/
.hd-news-grid-item
{
	transition: @transitionBgNavSlaves;
	.hd-video-bg
	{
		transition: opacity 400ms ease-in-out;
	}
}
/*#endregion "hd-news-grid-item" directive*/

/*#region "hd-glitch-text" directive*/
.hd-glitch-text
{
	&:before
	{
		animation: glitch-anim-1 2s infinite linear alternate-reverse 10s;
	}
	&:after
	{
		animation: glitch-anim-2 3s infinite linear alternate-reverse 10s;
	}
}

@keyframes glitch-anim-1 
{
	.loopKeyFrameGlitch(5, 0, 200);
}

@keyframes glitch-anim-2
{
	.loopKeyFrameGlitch(7, 0, 200);
}

// .makeRandom(1, @height, 1)
.loopKeyFrameGlitch(@steps, @i: 0, @height: 200) when (@i =< @steps)
{
	.makeRandom1(1, @height, 1); 
	.makeRandom2(1, @height, 1); 
	@heightTop: @randNum1;
	@heightBottom: @randNum2;	

	@step: (100/@steps) * @i * 1%;

	@{step} {
		clip: rect(@heightTop * 1px, 9999px, @heightBottom * 1px, 0);
	}

	.loopKeyFrameGlitch(@steps, (@i + 1));
}

/*#endregion "hd-glitch-text" directive*/

.hd-last-viewed
{
	transition: background-color 0.3s;
}

.hd-sub-categorie .hd-sub-categorie-item a:hover
{
	transition: all 0.2s ease-out 0s;
}

.html5-player 
{
	&__controls *
	{
		transition: color 0.2s ease-out 0s;
	}
}