@import "../lib/lib.less";

/*#region "navigator" directive*/

.navElement()
{
	background-color: @navMenuBgColor;
	color: @navTextColor;
	&:hover {
		background-color: @navHoverItemBgColor;
	}
}

.hyperlinkStyle(@color: wheat, @hoverColor: white)
{
	text-decoration: none;
	&:hover
	{
		color: @hoverColor;
	}
	&,
	&:active,
	&:visited,
	&:focus
	{
		color: @color;
	}
}

#hd-content
{
	.leftShift(@navWidth);
}

#hd-sidebar.menu-showed ~ #hd-content
{
	.leftShift(@navWidth + @navMenuWidth);
}

.hd-navigator
{
	& nav
	{
		z-index: 1000;
		background: @navBgColor;
		width: @navWidth;
		height: 100%;
		position: fixed;
		.hd-nav-item
		{
			height: @navItemHeight;
			text-align: center;
			cursor: pointer;
			border-bottom: 1px solid @navHoverItemBgColor;
			position: relative;
			.nonSelectable();
			&:first-child
			{
				border-top: 1px solid @navHoverItemBgColor;	
			}
			&:hover
			{
				background-color: @navHoverItemBgColor;
			}
			.hd-nav-picture
			{
				font-size: 26px;
				color: @navPictureColor;
			}
			.hd-nav-text
			{
				font-size: 14px;
				color: @navTextColor;
				font-family: @navFont
			}
			.hd-nav-item-menu
			{
				position: absolute;
				width: @navWidth;
				height: @navItemHeight;
				top: 0;
				&.selected:hover
				{
					background-color: @navHoverItemBgColor;
				}
				&.selected
				{
					background-color: @navMenuBgColor;
				}
				.hd-nav-item-content
				{
					padding-top: @navItemPaddingTop;
					padding-left: @navItemPictureWidth;
					width: @navItemContentWidth;
					float: left;
				}
				.hd-nav-item-arrow
				{
					padding-top: 38px;
					width: @navItemPictureWidth;
					color: @navPictureColor;
					float: right;
				}
			}
			.hd-nav-item-link
			{
				padding-top: @navItemPaddingTop;
				height: @navItemHeight;
				width: @navWidth;
			}
		}
	}

	.hd-nav-menu
	{
		.leftShift(@navWidth - @navMenuWidth);
		width: @navMenuWidth;
		position: fixed;
		overflow: hidden;
		font-size: 14px;
		background-color: @navMenuBgColor;
		color: @navTextColor;
		font-family: @navFont;
		&.showed
		{
			.leftShift(@navWidth);
		}
		& > *
		{
			position: absolute;
			width: @navMenuWidth;
		}
	}

}

/*#endregion "navigator" directive*/

/*#region "categories" directive*/

@categorieHeight: 30px;
@arrowWidth: 20px;
@selectedCatBgColor: darken(@navMenuBgColor, @stepColor);
@pictureWidth: 15px;
@pictureSidePadding: 15px;
@pictureFullWidth: @pictureSidePadding * 2 + @pictureWidth;
@arrowPadding: 15px;
@verticalScrollWidth: 16px;
@pictureSize: 21px;
@arrowSize: 18px;
@contentPaddingTopBottom: 20px;
.hd-general-categorie-item
{
	cursor: pointer;
	min-height: @categorieHeight;
	.nonSelectable();
	.hd-wrap
	{
		cursor: pointer;
		line-height: @pictureSize;
		.hd-toggle-categorie
		{
			.navElement();
			padding: @contentPaddingTopBottom 0;
			float: left;
			.hd-picture
			{
				float: left;
				width: @pictureWidth;
				padding: 0 @pictureSidePadding;
				font-size: @pictureSize;
			}
			.hd-content
			{
				float: left;
				width: @navMenuWidth - @pictureFullWidth - 2 * @arrowWidth - 3 * @arrowPadding;
			}
			.hd-arrow
			{
				color: @navPictureColor;
				float: left;
				width: @arrowWidth;
				padding-left: @arrowPadding;
				font-size: @arrowSize;
			}
		}
		.hd-enter-categorie
		{
			.navElement();
			float: right;
			padding: @contentPaddingTopBottom 0;
			color: @navPictureColor;
			width: @arrowWidth;
			padding-right: @arrowPadding;
			padding-left: @arrowPadding;
			font-size: @arrowSize;
		}
		.clearFix();
	}
	&.selected
	{
		padding-bottom: 0;
		// .hd-wrap
		// {
		// 	.hd-toggle-categorie
		// 	{
		// 		background-color: @selectedCatBgColor !important;
		// 	}
		// }
		.hd-sub-categorie-item
		{
			background-color: @selectedCatBgColor !important;
			&:hover
			{
				background-color: @navHoverItemBgColor !important;
			}
		}
	}
	.hd-sub-categorie
	{
		.inertialScrolling(hidden);
		&.ng-animate
		{
			overflow: hidden !important;
		}
		.hd-sub-categorie-item
		{
			width: @navMenuWidth;
			.navElement();
			.nonSelectable();
			& a
			{
				.hyperlinkStyle();
			}
			& .hd-content
			{
				width: @navMenuWidth - @pictureFullWidth - @verticalScrollWidth;
				padding: 7px 0 7px @pictureFullWidth;
				white-space: nowrap;
				text-overflow: ellipsis;
				overflow: hidden;
			}
		}
	}
}
/*#endregion "categories" directive*/

/*#region "searchBox" directive*/

@headerBoxHeight: 25px;
@headerBoxMarginTop: 7px;
.headerBoxShadow
{
	box-shadow: 0px 0px 13px 2px rgba(255, 255, 255, 0.4);
};

#hd-header
{
	.hd-sort-box
	{
		margin-top: @headerBoxMarginTop;
		position: absolute;
		left: 120px;
		&__title
		{
			height: @headerBoxHeight;
			line-height: @headerBoxHeight;
			padding-right: 3px;
			color: @navTextColor;
			float: left;
		}
		&__combobox 
		{
			float: left;
			height: @headerBoxHeight + 2px;
		}
		&__direction 
		{
			.nonSelectable();
			width: 150px;
			height: @headerBoxHeight;
			cursor: pointer;
			margin-left: 2px;
			text-align: center;
			border: 1px solid @navTextColor;
			float: right;
			&:hover
			{
				.headerBoxShadow();
			}
			&__picture 
			{	
				float: left;
				padding-left: 10px;
				color: @navTextColor;
				font-size: 25px;
				&.fa-sort-asc
				{
					margin-top: 7px;
				}
				&.fa-sort-desc
				{
					margin-top: -3px;
				}
			}
			&__text
			{
				float: left;
				padding-left: 8px;
				height: @headerBoxHeight;
				line-height: @headerBoxHeight;
				display: inline-block;
				color: @navTextColor;
				&--asc::before
				{
					content: "по возрастанию"
				}
				&--desc::before
				{
					content: "по убыванию"
				}
				.clearFix();
			}
			
		}
		.clearFix();
	}

	.hd-search-box
	{
		position: absolute;
		right: 10px;
		margin-right: 20px;
		margin-top: @headerBoxMarginTop;
		.hd-search-btn
		{
			cursor: pointer;
			position: absolute;
			right: 0;
			top: 0px;
			font-size: 18px;
			padding-top: 2px;
			height: 25px;
			width: 26px;
			.nonSelectable();
			color: black;
			&[disabled]
			{
				color: #E4E4E4;
				cursor: auto;
			}
			&:hover:not([disabled])
			{
				color: @navPictureColor;
			}
		}
		input 
		{
			border: 0px;
			height: 25px;
			padding: 2px 27px 2px 10px;
			font-size: 18px;
			box-sizing: border-box;
			width: 220px;
			transition: width 0.2s ease-out;
			.placeHolder();
			&:focus
			{
				.headerBoxShadow();
				outline:none;
				width: 400px;
			}
			// &.ng-invalid
			// {
			// 	background-color: rgba(255, 140, 140, 1);
			// 	&:focus
			// 	{
			// 		box-shadow: 0px 0px 13px 0px rgba(255, 140, 140, 1);
			// 	}
			// }
		}
	}
}

.hd-search-box input.ng-invalid
{
	border: 2px solid red;
}
/* #endregion "searchBox" directive*/

/*#region "waiter" directive*/
@waiterBlockSize: 80px;
.hd-waiter
{
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	z-index: 9999;

	& .hd-wrap
	{
		margin-left: -@waiterBlockSize / 2;
		margin-top: -@waiterBlockSize / 2;
		width: @waiterBlockSize;
		height: @waiterBlockSize;
		line-height: @waiterBlockSize;
		position: absolute;
		font-size: @waiterBlockSize;
		color: rgba(39, 39, 39, 0.6);
		text-shadow: 0px 0px 32px rgba(255, 255, 255, 1);
		left: 50%;
		top: 50%;
		text-align: center;
	}
}
/*#enregion "waiter" directive*/

/* video grid item */

@videoGridItemMargin: 5px;
@videoGridItemPadding: 5px;
@videoGridItemImgWidth: 100px;
@videoGridItemImgHeigh: 140px;
@videoGridItemWidth: @videoGridItemImgWidth;
@videoGridItemHeight: @videoGridItemImgHeigh + @videoGridItemPadding * 2 + 2 * 14;

@videoGridItemBgColor: darken(@navBgColor, 3%);
@videoGridItemBgColorHover: darken(@videoGridItemBgColor, 15%);

.hd-video-grid-item
{
	background-color: @videoGridItemBgColor;
	width: @videoGridItemWidth;
	//height: @videoGridItemHeight; 
	float: left; 
	margin: @videoGridItemMargin 0 0 @videoGridItemMargin; 
	padding: @videoGridItemPadding;
	position: relative;
	cursor: pointer;

	.favorite-box
	{
		top: 1px;
		right: 1px;
	}

	&:hover 
	{
		background-color: @videoGridItemBgColorHover;
	}

	.video-img-ct
	{
		position: relative;
	}

	.hd-video-poster,
	.hd-video-bg
	{
		width: @videoGridItemImgWidth;
		height: @videoGridItemImgHeigh;
	}

	.hd-video-bg
	{
		position: absolute;
		left: 0;
		top: 0;
		z-index: 1;
	}

	.video-descr
	{
		font-size: 14px;
		line-height: 1em;
		height: 2em;
		overflow: hidden;
		text-overflow: ellipsis;
		color: white;
	}
}

/* END video grid item */

/* video details */

@videoSeasonCtBgColor: darken(@navBgColor, 2%);
@videoEpisodeCtBgColor: darken(@videoSeasonCtBgColor, 2%);
@videoDetailsFontColor: white;

#hd-video-details
{
	padding: 15px;
	color: @videoDetailsFontColor;

	a 
	{
		color: saturate(@videoDetailsFontColor, 10%);
	}

	& > .title 
	{
		font-size: 22px;
		padding: 0px @favoriteBlockSize 10px 0;		
	}

	.favorite-box 
	{
		margin-left: 10px;
		//float: right;
	}

	.poster 
	{
		float: left; 
		padding: 0 10px 10px 0;
	}

	.details 
	{
		//float: left;
	}

	.description
	{
		clear: both;
	}

	.files-ct
	{
		margin-top: 10px;

		.season-ct
		{
			&.serial 
			{
				//border: 1px solid black;
				background-color: @videoSeasonCtBgColor; 
				padding: 5px 0 5px 10px; 
				//margin: 5px 0;
				margin-bottom: 5px;
			}

			.title 
			{
				cursor: pointer;
				padding: 2px 0;
			}

			.episodes-ct 
			{
				//transition: all 3s;
				//overflow: hidden;
			}

			&.collapsed .episodes-ct
			{
				//display: none;
				//height: 0px;
			}
		}

		.episode-ct
		{
			cursor: pointer; 
			//border: 1px solid black; 
			padding: 2px; 
			//margin: 5px; 
			position: relative;
			background-color: @videoEpisodeCtBgColor;
			transition: background-color 0.3s;

			&:hover 
			{
				background-color: darken(@videoEpisodeCtBgColor, 10%);
			}

			& > div 
			{
				display: inline-block;
			}

			.play-btn,
			.view-btn 
			{
				width: 1em;
				height: 1em;
				font-size: 20px;
				margin-right: 5px;
				padding: 4px;
			}

			.view-btn 
			{
				opacity: 0.3;
			}

			.view-btn.viewed
			{
				opacity: 1;
			}

			.title 
			{
				
			}
		}
	}
}

/* END video details */

/* video player */

@windowWidth: 640px;
@windowHeight: 480px;
@windowTitleHeight: 30px;
@windowTitleColor: white;
@playerWidth: @windowWidth;
@playerHeight: @windowHeight - @windowTitleHeight;
@controlsHeight: 50px;

.hd-video-player-ct
{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 9999;

	.mask 
	{
		background: gray;
		opacity: 0.5;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}

	.window
	{
		position: absolute;
		background: black;
		width: @windowWidth;
		height: @windowHeight;
		top: 50%;
		left: 50%;
		margin-left: -@windowWidth / 2;
		margin-top: -@windowHeight / 2;

		.title 
		{
			color: @windowTitleColor;
			font-size: 20px;
			line-height: @windowTitleHeight;
			text-align: center;
			border-bottom: 1px solid gray;
		}

		.content
		{
			width: @windowWidth;
			height: @windowHeight;

			@html5player: ~".html5-player";

			@{html5player} 
			{
				position: relative;
				width: @playerWidth;
				height: @playerHeight;

				@{html5player}__video-container
				{
					width: @playerWidth;
					height: @playerHeight - @controlsHeight;
				}


				@{html5player}__controls
				{
					position: absolute;
					z-index: 101;
					bottom: 0;
					width: @playerWidth;
					height: @controlsHeight;

				}

				@{html5player}__play
				{
					position: absolute;
					left: 20px;
				}
				@{html5player}__extend
				{
					position: absolute;
					right: 20px;
				}

				@{html5player}__play,
				@{html5player}__extend
				{
					font-size: 3em;
					color: white;
					cursor: pointer;
				}

				@{html5player}__play:hover,
				@{html5player}__extend:hover
				{
					color: wheat;
				}
			}

			@{html5player}--extended 
			{
				video
				{
					position: fixed;
					top: 50%;
					left: 50%;
					min-width: 100%;
					min-height: 100%;
					width: auto;
					height: auto;
					z-index: 100;
					-webkit-transform: translateX(-50%) translateY(-50%);
					transform: translateX(-50%) translateY(-50%);
					background-size: cover; 
				}

				@{html5player}__controls
				{
					position: fixed;
					bottom: 20px;
					left: 0;
					right: 0;
					width: 100%;
				}
			}

			.flash-player 
			{
				width: @playerWidth;
				height: @playerHeight;
			}

			.iframe
			{
				width: @playerWidth;
				height: @playerHeight;
				border: none;
			}
		}

		.close-btn 
		{
			cursor: pointer;
			position: absolute;
			right: 0;
			top: 0;
			font-size: @windowTitleHeight;
			background-color: white;
			width: 1em;
			height: 1em;
			text-align: center;
			//border: 1px solid gray;
			//box-shadow: 0px 0px 5px gray;
			color: #5A5A5A;
		}
	}
}

/* END video player */

/* favorite */

.favorite-box
{
	width: @favoriteBlockSize; 
	height: @favoriteBlockSize; 
	position: absolute; 
	z-index: 2;
	font-size: @favoriteBlockSize !important; /* иначе не выставлялся размер иконки */
	cursor: pointer;
	color: #474747;
	background-color: @favoriteBgColor;
	box-shadow: 0 0 @favoriteBlockSize / 2 @favoriteBgColor;
	//border-radius: @favoriteBlockSize;
	padding: 2px;
	text-align: center;
}

/* END favorite */

/*#region "hd-news-grid-item" directive*/
@newsItemBgColor: darken(@navBgColor, 3%);
@newsItemBgColorHover: darken(@navBgColor, 15%);
@newsItemMargin: @videoGridItemMargin;
@newsItemPadding: @videoGridItemPadding;
.hd-news
{
	&:first-child
	{
		//border-top: 1px solid @navHoverItemBgColor;	
	}
	& > *
	{
		//border-bottom: 1px solid @navHoverItemBgColor;
	}
	.hd-news-grid-item
	{
		.clearFix();
		background-color: @newsItemBgColor;
		color: white;
		margin: @newsItemMargin;
		padding: @newsItemPadding;
		&:hover
		{
			background-color: @newsItemBgColorHover;
		}
		.hd-video-img-ct
		{
			position: relative;
			float: left;
			width: @videoGridItemImgWidth;
			.hd-video-poster
			{
				width: @videoGridItemImgWidth;
				height: @videoGridItemImgHeigh;
 				display: block;
			}
			.hd-video-bg
			{
				opacity: 1;
				position: absolute;
				left: 0;
				top: 0;
				z-index: 1;
				width: @videoGridItemImgWidth;
				height: @videoGridItemImgHeigh;
				display: block;
			}
		}
		.hd-news-descr
		{
			padding-left: 10px;
			float: left;
			.hd-title
			{
				font-size: 18px;
			}
			.hd-news-info
			{
				padding-top: 5px;
				font-size: 14px;
			}
		}
	}
}
/*#endregion "hd-news-grid-item" directive*/

/*#region "hd-glitch-text" directive*/
.hd-glitch-text
{
	font-size: 48px;
	position: relative;
	color: white;
	background-color: @contetBgColor;
	&:before,
	&:after 
	{
		content: attr(text);
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
		clip: rect(0, 0, 0, 0); 
	}

	&:before
	{
		left: 2px;
		text-shadow: -1px 0 red;
	}

	&:after
	{
		left: -2px;
		text-shadow: -1px 0 blue;
	}
}
.hd-favorites-empty
{
	text-align: center;
	color: white;
	.hd-glitch-text
	{
		font-size: 200px;
		font-family: FontAwesome;
	}
	.hd-message
	{
		font-size: 18px;
	}
}
/*#endregion "hd-glitch-text" directive*/

.hd-clear-fix
{
	.clearFix();
}

/*#region "hd-filter" directive*/
.hd-filter
{
	& select
	{
		width: 100%;
	}
}
/*#endregion "hd-filter" directive*/

/*#region "hd-rating-bar" directive*/
.hd-rating-bar
{
	position: relative;
	width: 100%;
	height: 10px;
	&__filled
	{
		height: 100%;
	}
	&--low-rating
	{
		.hd-rating-bar__filled
		{
			background-color: red;
		}
	}
	&--middle-rating
	{
		.hd-rating-bar__filled
		{
			background-color: rgb(219, 219, 0);
		}
	}
	&--high-rating
	{
		.hd-rating-bar__filled
		{
			background-color: rgb(0, 197, 0);
		}
	}
	&__number
	{
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		text-align: center;
		display: none;
	}
	&__ticks
	{
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		height: 4px;
		&__node
		{
			position: absolute;
			top: 0;
			height: 100%;
			width: 1px;
			background-color: white;
		}
	}
}
/*#endregion "hd-rating-bar" directive*/

/*#region "hd-last-viewed" directive*/
.hd-last-viewed
{
	margin: 5px 0;
	padding: 2px;
	cursor: pointer;
	& .fa 
	{
		padding-right: 10px;
		width: 1em;
		height: 1em;
		font-size: 20px;
		margin-right: 5px;
		padding: 4px;
	}
	background-color: @videoEpisodeCtBgColor;
	&:hover 
	{
		background-color: darken(@videoEpisodeCtBgColor, 10%);
	}
}
/*#endregion "hd-last-viewed" directive*/