@import "../lib/lib.less";

body
{
	background-color: @contetBgColor;
	overflow: hidden;
}

#hd-header
{
	position: fixed;
	top: 0;
	height: @headerHeight;
	background: @navBgColor;
	z-index: 1000;

	#hd-logo {
		height: @headerHeight;
		background: url(../img/logo.png) left center no-repeat;
		position: absolute;
		top: 0px;
		left: 0px;
		padding-left: 40px;
		margin-left: 5px;
		color: #AA001B;
		font-size: 22px;
		line-height: @headerHeight;
	}

	#hd-title {
		position: absolute;
		height: @headerHeight;
		line-height: @headerHeight;
		left: @navWidth;
		padding-left: 10px;
		color: @navTextColor;
		font-size: 22px;
	}
}

#hd-content-wrap
{
	margin-top: @headerHeight;
	#hd-sidebar
	{
		position: fixed;
		top: @headerHeight;
		width: @navWidth;
		background: @navBgColor;
		z-index: 1000;
	}

	#hd-content
	{
		height: calc(~"100%" - @headerHeight);
		position: absolute;
		top: @headerHeight;
		left: 0;
		width: calc(~"100%" - @navWidth);
		background-color: @contetBgColor;
		.inertialScrolling();
		.leftShift(@navWidth);

		& > .hd-view
		{
			position: absolute;
			top: 0;
			left: 0;
			right: 0
		}
	}

	#hd-sidebar.menu-showed:not(.hd-animate) ~ #hd-content
	{
		.leftShift(@navWidth + @navMenuWidth);
		width: calc(~"100%" - (@navWidth + @navMenuWidth));
	}

	#hd-sidebar.hd-animate ~ #hd-content
	{
		overflow: hidden;
	}
}